@font-face {
	font-family: "Google Sans";
	src: url("files/fonts/GoogleSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Google Sans Medium";
	src: url("files/fonts/GoogleSans-Medium.ttf") format("truetype");
}

html {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Google Sans", Arial, sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
}

code {
	font-size: 0.875rem !important;
	font-family: "Google Sans" !important; 
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 5px;	
	padding: 2px 4px;
}

a {
	color: #5a5af0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


header {
	position: relative;
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	height: 155px;
	border-radius: 8px;
	text-align: left;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: left;
	bottom: 0px;
	width: 100%;
}

header h1 {
	position: absolute;
	z-index: 1;
	margin-left: 170px;
	top: 35%;
	transform: translateY(-50%);
}

.tabs {
	margin-top: 10px;
	display: flex;
}

.tab {
	border-radius: 8px 8px 0 0;
	cursor: pointer;
	padding: 8px 10px 5px 10px;
	border: 1px solid #cccccc;
	border-bottom: none;
	background-color: #f4f4f4;
	margin-right: 1px;
}

.tab.active {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.logo {
	position: absolute;
	top: 10.5px;
	left: 10.5px;
	border-radius: 8px;
	border: 2px solid #ddd;
	width: 150px;
	height: auto;
}

.main {
	padding: 20px 20px 0px 20px;
}

h1, h2 {
	color: #5a5acf;
	padding: 0px;
}

ul, ol {
	margin: 0 0 20px 20px;
}

p {
	line-height: 1.6;
}

section {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
	padding-bottom: 1px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section>h2 {
	padding: 0px 5px 0px 5px;
	margin: 0;
}

small:not(.ignoreSmall) {
	font-size: 69%; /* hehe nice */
	color: #777;
}

.mod-item {
	line-height: normal;
	position: relative;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin-bottom: 10px;
}

.mod-item h3 {
	font-family: "Google Sans Medium", Arial, sans-serif;
	font-weight: 500;
	margin: 8px;
}

.mod-item strong {
	font-weight: normal;
	font-family: "Google Sans Medium", Arial, sans-serif;
}

.mod-item p {
	margin: 8px;
}

.mod-item button {
	font-family: "Google Sans", Arial, sans-serif;
	background-color: #90EE90;
	border: none;
	padding: 5px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.mod-icon {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 8px;
	right: 8px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#mod-list {
	max-width: 600px;
	margin: 0 auto;
}

#online-mod-list h1 {
	text-align: center;
}